body{
    background-color: beige;
    color: brown;
    font-size: 13px;
    font-family: calibri;
    margin: 0px;
}


#cabecera{
    background-color: darkblue;
}
#cabecera h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 0px;
}


nav{
    background-color: darkturquoise;
}
nav ul{
    list-style: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    font-size: 28px;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}
nav ul li a:hover{
    background-color: cyan;
    color: black;
}


#cont-img{
    background-image: url(img/tree-gaffe1ecc1_1280.jpg);
    height: 280px;
    background-position: center;
    margin-bottom: 30px;
}
#cont-img .imagen h1{
    color: white;
    text-align: center;
    font-size: 45px;
    padding-top: 25px;
    margin: 0px;
}


.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#contenido-principal{
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 0px 30px;
}
#barra-lateral{
    float: right;
    width: 30%;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}


#parte-inferior{
    background-color: darkblue;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 5px;
    margin-top: 40px;
}
@media(max-width:650px){
    #contenido-principal{
        width: 100%;
        float: none;
    }
    #barra-lateral{
        width: 100%;
        float: none;
    }
}